@media (min-width: 768px) {
  .container {
    max-width: 100%;
  }
}

@media (min-width: 1025px) {
  section {
    padding: 10px;
    width: 90%;
    margin: auto;
    margin-top: 10px;
  }

  .container {
    grid-template-columns: repeat(7, auto);
    grid-template-areas:
      "one one one one two two two"
      "three three three four four four four"
      "five five five four four four four"
      "five five five four four four four";
  }

  .container > div:nth-child(1) {
    grid-area: one;
  }

  .container > div:nth-child(2) {
    grid-area: two;
  }

  .container > div:nth-child(3) {
    grid-area: three;
  }

  .container > div:nth-child(4) {
    grid-area: four;
  }

  .container > div:nth-child(4) > div {
    padding-left: 0;
    padding-right: 0;
  }

  .container > div:nth-child(4) > div > div {
    margin-top: 7px;
  }

  .container > div:nth-child(4) > div > div > img {
    height: 60px;
  }

  .container > div:nth-child(5) {
    grid-area: five;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .container > div:nth-child(1),
  .container > div:nth-child(3),
  .container > div:nth-child(5) {
    opacity: 0;
    transform: translateX(-100px);
    animation: fade-in-left 1s ease-in forwards;
    animation-timeline: view();
    animation-range: entry;
  }

  .container > div:nth-child(2),
  .container > div:nth-child(4) {
    opacity: 0;
    transform: translateX(50px);
    animation: fade-in-right 1s ease-in forwards;
    animation-timeline: view();
    animation-range: entry;
  }

  @keyframes fade-in-left {
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes fade-in-right {
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
}
