<section class="flex flex-col m-3">
  <div class="flex items-center">
    <img [src]="project.img" alt="" class="h-[70px]" loading="lazy" />
    <h2 class="px-3 text-3xl font-semibold">{{ project.title }}</h2>
  </div>
  <div class="py-3" id="s1">
    <p class="text-lg">{{ project.largeDescription }}</p>
  </div>
  <div id="s1">
    <h1 class="text-2xl font-semibold my-3">Features</h1>
    <div class="border-4 rounded-3xl">
      @for (feature of project.features; track feature) {
        <div class="m-3">
          <p class="text-sm">
            <span class="text-base font-semibold">{{ feature.heading }}:</span>
            {{ feature.description }}
          </p>
        </div>
      }
    </div>
  </div>
  <div class="py-3" id="s2">
    <h1 class="text-2xl font-semibold my-3">Screenshots</h1>
    <div class="img-container grid grid-cols-1 gap-4">
      @for (screenshot of screenshotsArray; track screenshot) {
        <div class="screenshot-container">
          <img
            [src]="screenshot"
            alt="Screenshot"
            class="h-[100%] object-fill w-full"
            loading="lazy"
          />
        </div>
      }
    </div>
  </div>
</section>
