header {
    background:
        linear-gradient(135deg, #43639C 0%, #412653 70%);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

header.expanded {
    height: 110px;
}

#sidebar.close {
    width: 0;
    overflow: hidden;
}

@media (min-width: 640px) {
    header.expanded {
        height: 70px;
    }
}