---
import About from '../components/About.astro';
import Contact from '../components/Contact.astro';
import Header from '../components/Header.astro';
import Home from '../components/Home.astro';
import Projects from '../components/Projects.astro';
import Skill from '../components/Skill.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <Header />
  <main>
    <Home />
    <About />
    <Skill />
    <Projects />
    <Contact />
  </main>
</Layout>
