---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Home from "../components/Home.astro";
import About from "../components/About.astro";
import Skill from "../components/Skill.astro";
import Projects from "../components/Projects.astro";
import Contact from "../components/Contact.astro";
---

<Layout>
  <Header />
  <main>
    <Home />
    <About />
    <Skill />
    <Projects />
    <Contact />
  </main>
</Layout>
