@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-display: swap;
    background: 
    linear-gradient(135deg, #43639C 0%, #412653 70%);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: auto;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: white;
    width: 95%;
    margin-bottom: 20px;
}
